<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
</head>

<body class="bg-dark text-white d-flex justify-content-center align-items-center vh-100">

<div class="card p-4 glass">

<h3 class="text-center">Friends Planner</h3>

<form method="POST">
<input name="name" class="form-control mb-3" placeholder="Введите имя">
<button class="btn btn-primary w-100">Войти</button>
</form>

</div>
</body>
</html>
