<hr>

<h4>Все мои задачи</h4>

{% if tasks %}

{% for t in tasks %}

<div class="card p-2 mb-2">

<div class="d-flex justify-content-between">

<div>

<b>{{t.text}}</b><br>

<small>{{t.date}}</small><br>

{% if t.completed %}
<span class="text-success">✅ Выполнено</span>
{% else %}
<span class="text-danger">❌ Не выполнено</span>
{% endif %}

</div>

<div>

<a href="/complete_task/{{t.id}}" 
   class="btn btn-sm btn-success mb-1 w-100">
   ✔
</a>

<a href="/delete_task/{{t.id}}" 
   class="btn btn-sm btn-danger w-100">
   🗑
</a>

</div>

</div>

</div>

{% endfor %}

{% else %}
<p>Нет задач</p>
{% endif %}
