<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">

<title>Профиль</title>
</head>



<div class="card p-3 mb-3">

{% if me.avatar %}
<img src="data:image/png;base64,{{ me.avatar }}" class="avatar-large">
{% else %}
<img src="/static/avatars/default.png" class="avatar-large">
{% endif %}

<h4>{{ me.name }}</h4>

<div class="progress mb-3">
<div class="progress-bar" style="width: {{progress}}%">
{{progress}}%
</div>
</div>

<form method="POST" action="/profile/upload_avatar" enctype="multipart/form-data">
<input type="file" name="avatar" class="form-control mb-2">
<button class="btn btn-primary w-100">Загрузить аватар</button>
</form>

</div>

<div class="card p-3 mb-3">

<form method="POST">

<input name="text" class="form-control mb-2" placeholder="Задача">

<input type="date" name="date" class="form-control mb-2">

<div class="difficulty-select">

<button type="button" class="diff-btn diff1" data-level="1">Легко</button>
<button type="button" class="diff-btn diff2" data-level="2">Норм</button>
<button type="button" class="diff-btn diff3 active" data-level="3">Средне</button>
<button type="button" class="diff-btn diff4" data-level="4">Сложно</button>
<button type="button" class="diff-btn diff5" data-level="5">Очень сложно</button>
<button type="button" class="diff-btn diff6" data-level="6">Невозможный</button>

</div>

<input type="hidden" name="difficulty" id="difficultyInput" value="3">

<button class="btn btn-success w-100">Добавить</button>

</form>

</div>

<script>
const input = document.getElementById("difficultyInput")

document.querySelectorAll(".diff-btn").forEach(btn=>{
btn.onclick = () => {

document.querySelectorAll(".diff-btn").forEach(b=>b.classList.remove("active"))
btn.classList.add("active")

input.value = btn.dataset.level

}
})
</script>
